.container{
    background-color: #0000;
    margin: 2em auto;
    width: 33.3em;
}

.container h1{
    text-align: center;
}

.bandeira-1{
    height: 50em;
    background-image: url(../../../../assets/images/campo/campo.jpg);
    background-repeat: no-repeat;
    background-size: 33.3em;
    opacity: 0.7;
}

.bandeira-2{

}