.header{
    background: linear-gradient(0.90turn, #ffdf00, #009c3b, #002776);
    height: 100%;
    margin: 0.1em;
    color: #FFFF;
    border-radius: 0.5em;

}
.titulo{
    text-align: center;
    text-shadow: 4px 4px black;
    font-size: 50pt;
}